GITHUB_CLIENT_ID=your_client_id_here
GITHUB_CLIENT_SECRET=your_client_secret_here
GITHUB_TOKEN=your_github_token_here
TWITCH_CLIENT_ID=your_twitch_client_id_here
TWITCH_CLIENT_SECRET=your_twitch_client_secret_here

BETTER_AUTH_SECRET=your_better_auth_secret_here
BETTER_AUTH_URL=http://localhost:3000

POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_USER=your_postgres_user_here
POSTGRES_DB=your_postgres_db_here
POSTGRES_HOST=your_postgres_host_here
POSTGRES_PORT=your_postgres_port_here
POSTGRES_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public